body {
    background-color: rgb(235, 34, 34);
    background      : linear-gradient(90deg, rgba(144, 230, 24, 0.932) 0%, rgb(45, 225, 253) 100%);
}

ul {
    list-style: none;
    margin    : 0;
    padding   : 0;
}

a {
    color          : #333;
    text-decoration: none;
}

.home-btn {
    position: absolute;
    display: inline-block;
    padding: 2px;
    background-color:#4CAF50;
    color:wheat;
    border-radius:80px;
    text-decoration: none;
    float: left;
    left    : 10px;
    top     : 10px;
    z-index: 1;
}

.home-icon{
    margin-right: 5px;
}

.hero {
    padding            : 0px;
    text-align         : center;
}

.hero h1 {
    font-size    : 2rem;
    margin-bottom: 1rem;
}

.hero p {
    font-size    : 1.2rem;
    margin-bottom: 2rem;
}

.tentang {
    padding   : 1rem;
    margin-top: 1;
}

.tim {

    padding: 1rem;
}

.tim h2 {
    font-size    : 2rem;
    margin-bottom: 0;
}

.video-container {
    position     : relative;
    padding      : 56%;
    padding-top  : 10px;
    height       : 0;
    overflow     : hidden;
    margin-top   : 2rem;
    margin-bottom: 2rem;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top     : 0;
    left    : 0;
    width   : 50%;
    height  : 50%;
}

footer {
    color     : #0d0c0c;
    padding   : 1rem;
    text-align: center;
}

footer p {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .hero {
        padding: 2rem;
    }

    .tim li {
        flex-basis: calc(50% - 1rem);
    }

    .tim img {
        height: 150px;
        width : 150px;
    }
}